# Remove this line first before doing anything else
_____REMOVE_____THIS_____LINE_____=True


# Get them from https://my.telegram.org/
API_ID = ""
API_HASH = ""


# Get it by running `bash genStr` command
HU_STRING_SESSION = ""


# Mongodb url from https://cloud.mongodb.com/
DATABASE_URL = ""


# Your Languge ( ex: if english => 'en' )
PREFERRED_LANGUAGE = ""

# ----------- OPTIONAL ----------- #


# api key from 'https://screenshotlayer.com'
screenshot_api = ''