# Copyright (C) 2020 by UsergeTeam@Github, < https://github.com/UsergeTeam >.
#
# This file is part of < https://github.com/UsergeTeam/Userge > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/uaudith/Userge/blob/master/LICENSE >
#
# All rights reserved.


# Remove this line first before doing anything else
_____REMOVE_____THIS_____LINE_____ = True


# Get them from https://my.telegram.org/
API_ID = ""
API_HASH = ""


# Get it by running `bash genStr` command
HU_STRING_SESSION = ""


# Mongodb url from https://cloud.mongodb.com/
DATABASE_URL = ""


# Googel Drive API Keys from https://console.developers.google.com/
G_DRIVE_CLIENT_ID = ""
G_DRIVE_CLIENT_SECRET = ""


# Set True if it is TeamDrive
G_DRIVE_IS_TD = False


# ----------- OPTIONAL ----------- #


# Your Languge ( ex: if english => 'en' )
PREFERRED_LANGUAGE = ""


# api key from 'https://screenshotlayer.com'
SCREENSHOT_API = ""


# GDrive Folder ID
G_DRIVE_PARENT_ID = ""


# Telegram Log Channel ID
LOG_CHANNEL_ID = ""


# set this to your USERGE fork on GitHub
UPSTREAM_REPO = ""


# ----------- Only If Using Heroku ----------- #


# get a Heroku API key from http://dashboard.heroku.com/account
HEROKU_API_KEY = ""


# given app name to the heroku app
HEROKU_APP_NAME = ""