git+https://github.com/pyrogram/pyrogram.git@asyncio-dev
bs4
cowpy
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
hachoir
heroku3
nest_asyncio
oauth2client
Pillow
psutil
pymongo
pySmartDL
python-dotenv
requests
search-engine-parser
selenium
setuptools>=40.3.0
speedtest-cli
tgcrypto
urbandict==0.5
wget
wikipedia
youtube_dl
