aiofiles
aiohttp
bs4
covid
cowpy
dnspython
emoji==0.6.0
fake-headers
feedparser
ffmpeg-python
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==4.0.0rc1
hachoir
heroku3
html-telegraph-poster
motor
oauth2client
Pillow==9.0.0
psutil
pybase64
pyrogram>=1.3.6
pySmartDL
pysocks
py-tgcalls==0.8.5
python-dotenv
pytz
rarfile
removebg
requests
search-engine-parser
selenium==3.141.0
setuptools>=40.3.0
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict==0.5
UsergeAntiSpamApi==0.1.8
wget
wikipedia
youtube_dl>=2021.1.8
youtube-search-python==1.4.9
